
<header>
    <div class="container">
        <h1>Online Grocery Store</h1>
       
            <div><a class="links" href="#">Home </a></div>
            <div><a class="links" [routerLink]="['/products']">Products</a></div>
            <div><a class="links" [routerLink]="['/customers']">Customer Details</a></div>
            <div><a class="links" href="#">Contact</a></div>
 
    </div>
</header>

<div>
    <h2>Work in progress!!!</h2>
    <p>please go through products page to perform CRUD Operations.</p>
</div>
